.list-groups-charts {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;

  canvas {
    flex: 1;
  }
}

.list-groups {
  list-style: none;
  margin: 0;
  padding: 0;

  .list-groups-group {
    margin: 10px auto;

    a {
      color: inherit;
      text-decoration: none;
    }

    .list-groups-group-header {
      display: flex;
      justify-content: space-between;
      font-size: 1.17em;

      .list-groups-group-name {
        font-weight: bold;
      }
    }

    .list-groups-lists {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;
      justify-content: stretch;
      list-style: none;
      margin: 0;
      padding: 0;

      .list-groups-lists-list {
        border: 1px solid;
        flex: 1;
        margin-right: 5px;
        margin-top: 5px;
        padding: 10px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }

        .list-groups-lists-list-entity {
          color: rgba(0, 0, 0, 0.5);
          font-size: smaller;
          margin-top: 5px;
          white-space: nowrap;
        }
      }
    }
  }
}
